<% if object.errors.any? %>
  <h3>Oops, you done did an error. Please try yo magic again:</h3>
  <ul>
    <% @list.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
